/**********placeholders**********/
%headerspec {
    color: $headings-color;
    text-transform: capitalize;
}

/**********General**********/
@font-face {
    font-family: cabin;
    src: url(../Fonts/Cabin-Regular.woff);
}
body {
    font-family: cabin, sans-serif;
    margin: 0;
}
* {
    box-sizing: content-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.padding__Y {
    padding: 120px 0;
}

.mg {
    margin: 0 5%;
}
::placeholder {
    color: $desc;
    padding-left: 20px;
    text-transform: capitalize;
}
i {
    color: $primary;
}
ul {
    list-style: none;
}
h1 {
    color: $primary;
    font-size: 4rem;
    text-transform: capitalize;
}
h2 {
    @extend %headerspec;
    font-size: 50px;
    text-align: center;
}
h4 {
    @extend %headerspec;
    font-size: 1rem;
    margin-left: 35px;
}

.p__header {
    @extend %headerspec;
    font-size: 15px;
    text-align: center;
    padding: 0 100px 40px 100px;
    color: $desc;
}
p {
    text-align: left;
    color: $desc;
    padding: 0 35px 0 35px;
    line-height: 1.5;
    text-transform: capitalize;
}
button {
    @extend %headerspec;
    width: 180px;
    height: 60px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 10px;
    border: 1px solid #aa4afd;
}

/********** Navbar**********/
.page__header {
    height: 800px;
    @include background-image($headerbg);
    .navbar-brand {
        padding-top: 2rem;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
        a {
            color: $primary !important;
        }
    }
    .blog__header {
        margin-top: 4rem;
        padding-bottom: 8rem;

        .header__content__wrapper {
            p {
                color: $primary;
                padding-left: 0;
                line-height: 1.5;
            }

            button {
                background-color: $primary;
                color: #000;
                width: 12rem;
                margin-top: 4rem;
            }
        }
    }
}

@include mobile-xs {
    .page__header {
        height: 1210px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog_title {
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
    }
    .page__header .blog__header .header__content__wrapper button {
        margin: 1rem 0;
    }
    .blog__header {
        display: block !important;
    }
    .header__img__wrapper img {
        width: 50%;
    }
}
@include mobile-sm {
    .page__header {
        height: 1350px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog_title {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }
    .page__header .blog__header .header__content__wrapper button {
        margin: 1rem 0;
    }
    .blog__header {
        display: block !important;
    }
    .header__img__wrapper img {
        width: 50%;
    }
}
@include tablet {
    .page__header {
        height: 1480px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog__header {
        display: block !important;
    }
}
/**********features**********/

.features {
    header {
        p {
            @extend .p__header;
        }
    }
    .features__items {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .features__item {
        background-color: $primary;
        width: 24%;
        border: 1px solid $primary;
        border-radius: 5px;
        @include box-shadow(
            rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
        );
    }
    img {
        padding: 1rem;
    }
}

@include mobile-xs {
    .features {
        h2 {
            font-size: 2rem;
        }
        .p__header {
            padding: 0;
        }
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}
@include mobile-sm {
    .features {
        h2 {
            font-size: 2.5rem;
        }
        .p__header {
            padding: 0;
        }
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}
@include tablet {
    .features {
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}

@include desktop {
    .features {
        .features__items {
            justify-content: space-evenly;
            .features__item {
                width: 42%;
                margin: 1rem 0;
            }
        }
    }
}
