/**********placeholders**********/
%headerspec {
    color: $headings-color;
    text-transform: capitalize;
}

/**********General**********/
@font-face {
    font-family: cabin;
    src: url(../Fonts/Cabin-Regular.woff);
}
body {
    font-family: cabin, sans-serif;
    margin: 0;
}
* {
    box-sizing: content-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.padding__Y {
    padding: 120px 0;
}

.mg {
    margin: 0 5%;
}
::placeholder {
    color: $desc;
    padding-left: 20px;
    text-transform: capitalize;
}
i {
    color: $primary;
}
ul {
    list-style: none;
}
h1 {
    color: $primary;
    font-size: 4rem;
    text-transform: capitalize;
}
h2 {
    @extend %headerspec;
    font-size: 50px;
    text-align: center;
}
h4 {
    @extend %headerspec;
    font-size: 1rem;
    margin-left: 35px;
}

.p__header {
    @extend %headerspec;
    font-size: 15px;
    text-align: center;
    padding: 0 100px 40px 100px;
    color: $desc;
}
p {
    text-align: left;
    color: $desc;
    padding: 0 35px 0 35px;
    line-height: 1.5;
    text-transform: capitalize;
}
button {
    @extend %headerspec;
    width: 180px;
    height: 60px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 10px;
    border: 1px solid #aa4afd;
}

/********** Navbar**********/
.page__header {
    height: 800px;
    @include background-image($headerbg);
    .navbar-brand {
        padding-top: 2rem;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
        a {
            color: $primary !important;
        }
    }
    .blog__header {
        margin-top: 4rem;
        padding-bottom: 8rem;

        .header__content__wrapper {
            p {
                color: $primary;
                padding-left: 0;
                line-height: 1.5;
            }

            button {
                background-color: $primary;
                color: #000;
                width: 12rem;
                margin-top: 4rem;
            }
        }
    }
}

@include mobile-xs {
    .page__header {
        height: 1210px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog_title {
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
    }
    .page__header .blog__header .header__content__wrapper button {
        margin: 1rem 0;
    }
    .blog__header {
        display: block !important;
    }
    .header__img__wrapper img {
        width: 50%;
    }
}
@include mobile-sm {
    .page__header {
        height: 1350px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog_title {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }
    .page__header .blog__header .header__content__wrapper button {
        margin: 1rem 0;
    }
    .blog__header {
        display: block !important;
    }
    .header__img__wrapper img {
        width: 50%;
    }
}
@include tablet {
    .page__header {
        height: 1480px;
    }
    .navbar-nav {
        display: contents;
    }
    .blog__header {
        display: block !important;
    }
}
/**********features**********/

.features {
    header {
        p {
            @extend .p__header;
        }
    }
    .features__items {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .features__item {
        background-color: $primary;
        width: 24%;
        border: 1px solid $primary;
        border-radius: 5px;
        @include box-shadow(
            rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
        );
    }
    img {
        padding: 1rem;
    }
}

@include mobile-xs {
    .features {
        h2 {
            font-size: 2rem;
        }
        .p__header {
            padding: 0;
        }
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}
@include mobile-sm {
    .features {
        h2 {
            font-size: 2.5rem;
        }
        .p__header {
            padding: 0;
        }
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}
@include tablet {
    .features {
        .features__items {
            .features__item {
                width: 80%;
                display: block;
                margin: 1rem auto;
            }
        }
    }
}

@include desktop {
    .features {
        .features__items {
            justify-content: space-evenly;
            .features__item {
                width: 42%;
                margin: 1rem 0;
            }
        }
    }
}
/**********architecture**********/
.architecure {
    background-color: $section-background;

    .architecure__img__wrapper {
        img {
            width: 100%;
            background-size: cover;
        }
    }
    .architecure__header_wrapper {
        .archBtn {
            @include linear-gradient(to right, #aa4afd, #8c3efc);
        }
        h2 {
            @extend %headerspec;
            font-size: 50px;
            text-align: left;
        }
        p {
            @extend p;
            padding: 0 0 35px 0;
        }
    }
}
.architecure.second {
    padding: 120px 0;
    background-color: $primary;
}
@include mobile-xs {
    .architecure .architecure__header_wrapper h2 {
        font-size: 2rem;
    }
}
@include mobile-sm {
    .architecure .architecure__header_wrapper h2 {
        font-size: 2.5rem;
    }
}
@include to-desktop-sm {
    .architecure__items {
        flex-wrap: wrap !important;
    }
}
/**********video**********/
.video {
    position: relative;
    .videoo img {
        width: 100%;
    }
    .video__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
    }
}
/**********pricing**********/
.pricing {
    background-color: $section-background;
    header {
        p {
            @extend .p__header;
            color: $desc;
        }
    }
    .pricing__items__wrapper {
        .pricing__item__wrapper {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

            .title__items_wrapper {
                justify-content: space-around;
                h4 {
                    font-size: 2rem;
                }
            }
            ul {
                border-top: 1px solid #e4dbdb;
                li:first-child {
                    padding-top: 35px;
                }
                li {
                    @extend p;
                    padding: 0 0 35px 0;
                }
            }
            button {
                width: 12rem;
                height: 3rem;
                color: #000;
                background-color: $section-background;
                border: 1px solid $section-background;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                margin: 0 0 10% 25%;
            }
        }
    }
}
@include mobile-xs {
    .pricing {
        .pricing__items__wrapper {
            .pricing__item__wrapper {
                width: 80%;
                margin: 1rem auto;
                button {
                    display: block;
                    margin: auto;
                    width: 8rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .title__item__wrapper h4 {
        font-size: 1.5rem;
        margin: 0;
    }
    .title__item__wrapper p {
        padding: 0;
    }
    .title__item__wrapper h2 {
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }
    .p__header {
        padding: 0;
    }

    .pricing header h2 {
        font-size: 2rem;
    }
}
@include mobile-sm {
    .pricing {
        .pricing__items__wrapper {
            .pricing__item__wrapper {
                width: 80%;
                margin: 1rem auto;
                button {
                    display: block;
                    margin: auto;
                    width: 8rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .title__item__wrapper h4 {
        font-size: 1.5rem;
        margin: 0;
    }
    .title__item__wrapper p {
        padding: 0;
    }
}
@include tablet {
    .pricing {
        .pricing__items__wrapper {
            .pricing__item__wrapper {
                width: 80%;
                margin: 1rem auto;
                button {
                    display: block;
                    margin: auto;
                    width: 8rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@include desktop {
    .pricing {
        .pricing__items__wrapper {
            .pricing__item__wrapper {
                h2 {
                    font-size: 1.5rem;
                    margin-left: 0.7rem;
                }
                button {
                    display: block;
                    margin: auto;
                    width: 8rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .title__item__wrapper {
        margin: 0;
        padding: 0;
    }
    .title__item__wrapper h4 {
        font-size: 1.5rem;
        margin: 0;
    }
    .title__item__wrapper p {
        padding: 0;
    }
}
/**********screenshots**********/
.screenshots {
    header {
        p {
            @extend .p__header;
        }
    }
    .screenshots__items__wrapper {
        justify-content: space-between;

        .screenshots__item__wrapper {
            width: 22%;
            img {
                width: 100%;
            }
        }
    }
}
@include mobile-xs {
    .screenshots {
        padding: 60px 0;
        .screenshots__items__wrapper {
            .screenshots__item__wrapper {
                width: 80%;
                margin: 1rem auto;
            }
            img {
                display: block;
                margin: auto;
                width: 100%;
            }
        }
    }
}
@include mobile-sm {
    .screenshots {
        padding: 60px 0;
        .screenshots__items__wrapper {
            .screenshots__item__wrapper {
                width: 70%;
                margin: 1rem auto;
            }
            img {
                display: block;
                margin: auto;
                width: 100%;
            }
        }
    }
}
@include tablet {
    .screenshots {
        padding: 60px 0;
        .screenshots__items__wrapper {
            .screenshots__item__wrapper {
                width: 45%;
                margin: 1.25rem 0;
            }
            img {
                display: block;
                margin: auto;
                width: 80%;
            }
        }
    }
}

@include desktop {
    .screenshots {
        padding: 60px 0;
        .screenshots__items__wrapper {
            .screenshots__item__wrapper {
                width: 22%;
                margin: 1.25rem 0;
            }
            img {
                display: block;
                margin: auto;
                width: 100%;
            }
        }
    }
}
/**********testmonials**********/
.testmonials {
    .testmonials__items__wrapper {
        justify-content: space-evenly;
        .testmonials__item__wrapper {
            width: 45%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 1rem;
            .testmonials__item__img {
                width: 15%;
                margin: 1rem;
            }
            .testmonials__item__desc {
                width: 70%;
                p {
                    padding: 1rem 0;
                }
                h4 {
                    margin: 0;
                }
            }
        }
    }
}
@include mobile-xs {
    .testmonials {
        .testmonials__items__wrapper {
            .testmonials__item__wrapper {
                width: 80%;
                margin: 1rem auto;
                .testmonials__item__img {
                    width: 100%;
                    display: block;
                    margin: 0.5rem auto;

                    img {
                        margin: auto;
                        display: block;
                    }
                }
                .testmonials__item__desc {
                    width: 100%;
                }
            }
        }
    }
}
@include mobile-sm {
    .testmonials {
        .testmonials__items__wrapper {
            .testmonials__item__wrapper {
                width: 80%;
                margin: 1rem auto;
                .testmonials__item__img {
                    width: 100%;
                    display: block;
                    margin: 0.5rem auto;

                    img {
                        margin: auto;
                        display: block;
                    }
                }
                .testmonials__item__desc {
                    width: 100%;
                }
            }
        }
    }
}
@include tablet {
    .testmonials {
        .testmonials__items__wrapper {
            justify-content: space-evenly;
            .testmonials__item__wrapper {
                margin: 1rem auto;
                .testmonials__item__img {
                    width: 100%;
                    display: block;
                    margin: 0.5rem auto;
                    img {
                        margin: auto;
                        display: block;
                    }
                }
                .testmonials__item__desc {
                    width: 100%;
                }
            }
        }
    }
}
