/*
******************************************************
********** using only (max-width) ********************
******************************************************
*/
/*
******************************************************
********** using only (min-width) ********************
******************************************************
*/
/**********placeholders**********/
h2, h4, .p__header, button {
  color: #000;
  text-transform: capitalize; }

/**********General**********/
@font-face {
  font-family: cabin;
  src: url(../Fonts/Cabin-Regular.woff); }

body {
  font-family: cabin, sans-serif;
  margin: 0; }

* {
  box-sizing: content-box; }

.container {
  width: 90%;
  margin: 0 auto; }

.padding__Y {
  padding: 120px 0; }

.d-flex {
  display: flex;
  flex-wrap: wrap; }

.mg {
  margin: 0 5%; }

::placeholder {
  color: #94949a;
  padding-left: 20px;
  text-transform: capitalize; }

i {
  color: #fff; }

ul {
  list-style: none; }

h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: capitalize; }

h2 {
  font-size: 50px;
  text-align: center; }

h4 {
  font-size: 1rem;
  margin-left: 35px; }

.p__header {
  font-size: 15px;
  text-align: center;
  padding: 0 100px 40px 100px;
  color: #94949a; }

p {
  text-align: left;
  color: #94949a;
  padding: 0 35px 0 35px;
  line-height: 1.5;
  text-transform: capitalize; }

button {
  width: 180px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #aa4afd; }
