/*
******************************************************
******* change the breakpoint form you specific ******
******************************************************
*/
/*
******************************************************
********** For specific media query ******************
******************************************************
*/
/*
******************************************************
********** using only (max-width) ********************
******************************************************
*/
/*
******************************************************
********** using only (min-width) ********************
******************************************************
*/
/**********placeholders**********/
h2, h4, .p__header, .features header p, button {
  color: #000;
  text-transform: capitalize; }

/**********General**********/
@font-face {
  font-family: cabin;
  src: url(../Fonts/Cabin-Regular.woff); }

body {
  font-family: cabin, sans-serif;
  margin: 0; }

* {
  box-sizing: content-box; }

.container {
  width: 90%;
  margin: 0 auto; }

.padding__Y {
  padding: 120px 0; }

.mg {
  margin: 0 5%; }

::placeholder {
  color: #94949a;
  padding-left: 20px;
  text-transform: capitalize; }

i {
  color: #fff; }

ul {
  list-style: none; }

h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: capitalize; }

h2 {
  font-size: 50px;
  text-align: center; }

h4 {
  font-size: 1rem;
  margin-left: 35px; }

.p__header, .features header p {
  font-size: 15px;
  text-align: center;
  padding: 0 100px 40px 100px;
  color: #94949a; }

p {
  text-align: left;
  color: #94949a;
  padding: 0 35px 0 35px;
  line-height: 1.5;
  text-transform: capitalize; }

button {
  width: 180px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #aa4afd; }

/********** Navbar**********/
.page__header {
  height: 800px;
  background-image: url("../img/banner/home-banner.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .page__header .navbar-brand {
    padding-top: 2rem; }
  .page__header .navbar-nav {
    position: absolute;
    right: 0; }
    .page__header .navbar-nav a {
      color: #fff !important; }
  .page__header .blog__header {
    margin-top: 4rem;
    padding-bottom: 8rem; }
    .page__header .blog__header .header__content__wrapper p {
      color: #fff;
      padding-left: 0;
      line-height: 1.5; }
    .page__header .blog__header .header__content__wrapper button {
      background-color: #fff;
      color: #000;
      width: 12rem;
      margin-top: 4rem; }

@media (min-width: 320px) and (max-width: 567px) {
  .page__header {
    height: 1210px; }
  .navbar-nav {
    display: contents; }
  .blog_title {
    margin: 0;
    padding: 0;
    font-size: 2.5rem; }
  .page__header .blog__header .header__content__wrapper button {
    margin: 1rem 0; }
  .blog__header {
    display: block !important; }
  .header__img__wrapper img {
    width: 50%; } }

@media (min-width: 568px) and (max-width: 767px) {
  .page__header {
    height: 1350px; }
  .navbar-nav {
    display: contents; }
  .blog_title {
    margin: 0;
    padding: 0;
    font-size: 3rem; }
  .page__header .blog__header .header__content__wrapper button {
    margin: 1rem 0; }
  .blog__header {
    display: block !important; }
  .header__img__wrapper img {
    width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page__header {
    height: 1480px; }
  .navbar-nav {
    display: contents; }
  .blog__header {
    display: block !important; } }

/**********features**********/
.features .features__items {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; }

.features .features__item {
  background-color: #fff;
  width: 24%;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }

.features img {
  padding: 1rem; }

@media (min-width: 320px) and (max-width: 567px) {
  .features h2 {
    font-size: 2rem; }
  .features .p__header, .features header p {
    padding: 0; }
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 568px) and (max-width: 767px) {
  .features h2 {
    font-size: 2.5rem; }
  .features .p__header, .features header p {
    padding: 0; }
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .features .features__items {
    justify-content: space-evenly; }
    .features .features__items .features__item {
      width: 42%;
      margin: 1rem 0; } }
