/*
******************************************************
******* change the breakpoint form you specific ******
******************************************************
*/
/*
******************************************************
********** For specific media query ******************
******************************************************
*/
/*
******************************************************
********** using only (max-width) ********************
******************************************************
*/
/*
******************************************************
********** using only (min-width) ********************
******************************************************
*/
/**********placeholders**********/
h2, h4, .p__header, .features header p, .features header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .features header p, .features header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing header p, .pricing header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .pricing header p, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li, .screenshots header p, .screenshots header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .screenshots header p, .screenshots header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, button, .architecure .architecure__header_wrapper h2 {
  color: #000;
  text-transform: capitalize; }

/**********General**********/
@font-face {
  font-family: cabin;
  src: url(../Fonts/Cabin-Regular.woff); }

body {
  font-family: cabin, sans-serif;
  margin: 0; }

* {
  box-sizing: content-box; }

.container {
  width: 90%;
  margin: 0 auto; }

.padding__Y {
  padding: 120px 0; }

.mg {
  margin: 0 5%; }

::placeholder {
  color: #94949a;
  padding-left: 20px;
  text-transform: capitalize; }

i {
  color: #fff; }

ul {
  list-style: none; }

h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: capitalize; }

h2 {
  font-size: 50px;
  text-align: center; }

h4 {
  font-size: 1rem;
  margin-left: 35px; }

.p__header, .features header p, .features header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .features header p, .features header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing header p, .pricing header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .pricing header p, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li, .screenshots header p, .screenshots header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .screenshots header p, .screenshots header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li {
  font-size: 15px;
  text-align: center;
  padding: 0 100px 40px 100px;
  color: #94949a; }

p, .architecure .architecure__header_wrapper p, .pricing .pricing__items__wrapper .pricing__item__wrapper ul li {
  text-align: left;
  color: #94949a;
  padding: 0 35px 0 35px;
  line-height: 1.5;
  text-transform: capitalize; }

button {
  width: 180px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #aa4afd; }

/********** Navbar**********/
.page__header {
  height: 800px;
  background-image: url("../img/banner/home-banner.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .page__header .navbar-brand {
    padding-top: 2rem; }
  .page__header .navbar-nav {
    position: absolute;
    right: 0; }
    .page__header .navbar-nav a {
      color: #fff !important; }
  .page__header .blog__header {
    margin-top: 4rem;
    padding-bottom: 8rem; }
    .page__header .blog__header .header__content__wrapper p, .page__header .blog__header .header__content__wrapper .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .page__header .blog__header .header__content__wrapper li {
      color: #fff;
      padding-left: 0;
      line-height: 1.5; }
    .page__header .blog__header .header__content__wrapper button {
      background-color: #fff;
      color: #000;
      width: 12rem;
      margin-top: 4rem; }

@media (min-width: 320px) and (max-width: 567px) {
  .page__header {
    height: 1210px; }
  .navbar-nav {
    display: contents; }
  .blog_title {
    margin: 0;
    padding: 0;
    font-size: 2.5rem; }
  .page__header .blog__header .header__content__wrapper button {
    margin: 1rem 0; }
  .blog__header {
    display: block !important; }
  .header__img__wrapper img {
    width: 50%; } }

@media (min-width: 568px) and (max-width: 767px) {
  .page__header {
    height: 1350px; }
  .navbar-nav {
    display: contents; }
  .blog_title {
    margin: 0;
    padding: 0;
    font-size: 3rem; }
  .page__header .blog__header .header__content__wrapper button {
    margin: 1rem 0; }
  .blog__header {
    display: block !important; }
  .header__img__wrapper img {
    width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page__header {
    height: 1480px; }
  .navbar-nav {
    display: contents; }
  .blog__header {
    display: block !important; } }

/**********features**********/
.features .features__items {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; }

.features .features__item {
  background-color: #fff;
  width: 24%;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }

.features img {
  padding: 1rem; }

@media (min-width: 320px) and (max-width: 567px) {
  .features h2 {
    font-size: 2rem; }
  .features .p__header, .features header p, .features header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .features header p, .features header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .features header li, .features .pricing header p, .pricing header .features p, .features .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul .features li, .features .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header .features li, .features .screenshots header p, .screenshots header .features p, .screenshots header .pricing .pricing__items__wrapper .pricing__item__wrapper ul .features li {
    padding: 0; }
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 568px) and (max-width: 767px) {
  .features h2 {
    font-size: 2.5rem; }
  .features .p__header, .features header p, .features header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .features header p, .features header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .features header li, .features .pricing header p, .pricing header .features p, .features .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul .features li, .features .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header .features li, .features .screenshots header p, .screenshots header .features p, .screenshots header .pricing .pricing__items__wrapper .pricing__item__wrapper ul .features li {
    padding: 0; }
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  .features .features__items .features__item {
    width: 80%;
    display: block;
    margin: 1rem auto; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .features .features__items {
    justify-content: space-evenly; }
    .features .features__items .features__item {
      width: 42%;
      margin: 1rem 0; } }

/**********architecture**********/
.architecure {
  background-color: #f7f8fc; }
  .architecure .architecure__img__wrapper img {
    width: 100%;
    background-size: cover; }
  .architecure .architecure__header_wrapper .archBtn {
    background: -webkit-linear-gradient(to right, #aa4afd 0%, #8c3efc 100%);
    background: -moz-linear-gradient(to right, #aa4afd 0%, #8c3efc 100%);
    background: -o-linear-gradient(to right, #aa4afd 0%, #8c3efc 100%);
    background: linear-gradient(to right, #aa4afd 0%, #8c3efc 100%); }
  .architecure .architecure__header_wrapper h2 {
    font-size: 50px;
    text-align: left; }
  .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .architecure .architecure__header_wrapper li {
    padding: 0 0 35px 0; }

.architecure.second {
  padding: 120px 0;
  background-color: #fff; }

@media (min-width: 320px) and (max-width: 567px) {
  .architecure .architecure__header_wrapper h2 {
    font-size: 2rem; } }

@media (min-width: 568px) and (max-width: 767px) {
  .architecure .architecure__header_wrapper h2 {
    font-size: 2.5rem; } }

@media (max-width: 1200px) {
  .architecure__items {
    flex-wrap: wrap !important; } }

/**********video**********/
.video {
  position: relative; }
  .video .videoo img {
    width: 100%; }
  .video .video__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%); }

/**********pricing**********/
.pricing {
  background-color: #f7f8fc; }
  .pricing header p, .pricing header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .pricing header p, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li {
    color: #94949a; }
  .pricing .pricing__items__wrapper .pricing__item__wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper .title__items_wrapper {
      justify-content: space-around; }
      .pricing .pricing__items__wrapper .pricing__item__wrapper .title__items_wrapper h4 {
        font-size: 2rem; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper ul {
      border-top: 1px solid #e4dbdb; }
      .pricing .pricing__items__wrapper .pricing__item__wrapper ul li:first-child {
        padding-top: 35px; }
      .pricing .pricing__items__wrapper .pricing__item__wrapper ul li {
        padding: 0 0 35px 0; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper button {
      width: 12rem;
      height: 3rem;
      color: #000;
      background-color: #f7f8fc;
      border: 1px solid #f7f8fc;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      margin: 0 0 10% 25%; }

@media (min-width: 320px) and (max-width: 567px) {
  .pricing .pricing__items__wrapper .pricing__item__wrapper {
    width: 80%;
    margin: 1rem auto; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper button {
      display: block;
      margin: auto;
      width: 8rem;
      margin-bottom: 2rem; }
  .title__item__wrapper h4 {
    font-size: 1.5rem;
    margin: 0; }
  .title__item__wrapper p, .title__item__wrapper .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .title__item__wrapper p, .title__item__wrapper .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .title__item__wrapper li {
    padding: 0; }
  .title__item__wrapper h2 {
    font-size: 1.5rem;
    padding-top: 0.5rem; }
  .p__header, .features header p, .features header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .features header p, .features header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing header p, .pricing header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .pricing header p, .pricing header .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul header li, .screenshots header p, .screenshots header .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .screenshots header p, .screenshots header .pricing .pricing__items__wrapper .pricing__item__wrapper ul li {
    padding: 0; }
  .pricing header h2 {
    font-size: 2rem; } }

@media (min-width: 568px) and (max-width: 767px) {
  .pricing .pricing__items__wrapper .pricing__item__wrapper {
    width: 80%;
    margin: 1rem auto; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper button {
      display: block;
      margin: auto;
      width: 8rem;
      margin-bottom: 2rem; }
  .title__item__wrapper h4 {
    font-size: 1.5rem;
    margin: 0; }
  .title__item__wrapper p, .title__item__wrapper .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .title__item__wrapper p, .title__item__wrapper .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .title__item__wrapper li {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .pricing .pricing__items__wrapper .pricing__item__wrapper {
    width: 80%;
    margin: 1rem auto; }
    .pricing .pricing__items__wrapper .pricing__item__wrapper button {
      display: block;
      margin: auto;
      width: 8rem;
      margin-bottom: 2rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .pricing .pricing__items__wrapper .pricing__item__wrapper h2 {
    font-size: 1.5rem;
    margin-left: 0.7rem; }
  .pricing .pricing__items__wrapper .pricing__item__wrapper button {
    display: block;
    margin: auto;
    width: 8rem;
    margin-bottom: 2rem; }
  .title__item__wrapper {
    margin: 0;
    padding: 0; }
  .title__item__wrapper h4 {
    font-size: 1.5rem;
    margin: 0; }
  .title__item__wrapper p, .title__item__wrapper .architecure .architecure__header_wrapper p, .architecure .architecure__header_wrapper .title__item__wrapper p, .title__item__wrapper .pricing .pricing__items__wrapper .pricing__item__wrapper ul li, .pricing .pricing__items__wrapper .pricing__item__wrapper ul .title__item__wrapper li {
    padding: 0; } }

/**********screenshots**********/
.screenshots .screenshots__items__wrapper {
  justify-content: space-between; }
  .screenshots .screenshots__items__wrapper .screenshots__item__wrapper {
    width: 22%; }
    .screenshots .screenshots__items__wrapper .screenshots__item__wrapper img {
      width: 100%; }

@media (min-width: 320px) and (max-width: 567px) {
  .screenshots {
    padding: 60px 0; }
    .screenshots .screenshots__items__wrapper .screenshots__item__wrapper {
      width: 80%;
      margin: 1rem auto; }
    .screenshots .screenshots__items__wrapper img {
      display: block;
      margin: auto;
      width: 100%; } }

@media (min-width: 568px) and (max-width: 767px) {
  .screenshots {
    padding: 60px 0; }
    .screenshots .screenshots__items__wrapper .screenshots__item__wrapper {
      width: 100%;
      margin: 1rem auto; }
    .screenshots .screenshots__items__wrapper img {
      display: block;
      margin: auto;
      width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .screenshots {
    padding: 60px 0; }
    .screenshots .screenshots__items__wrapper .screenshots__item__wrapper {
      width: 45%;
      margin: 1.25rem 0; }
    .screenshots .screenshots__items__wrapper img {
      display: block;
      margin: auto;
      width: 80%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .screenshots {
    padding: 60px 0; }
    .screenshots .screenshots__items__wrapper .screenshots__item__wrapper {
      width: 22%;
      margin: 1.25rem 0; }
    .screenshots .screenshots__items__wrapper img {
      display: block;
      margin: auto;
      width: 100%; } }
